{% extends 'base.html' %}

{% block body %}
<div class="container">
    <main>
        <div class="col-md-7 col-lg-8">
          <h4 class="py-5 text-center">Номера обработаны!</h4>
            <form class="needs-validation" novalidate="">
                <hr class="my-4">
                <a class="btn btn-outline-secondary" type="submit" href="/">Скачать файл</a>
                <hr class="my-4">
                <a class="w-100 btn btn-primary btn-lg" type="submit" href="/">Вернуться на главную страницу</a>
           </form>
        </div>
    
    </main>
</div>
{% endblock %}